
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-main {
	display: block;
	margin: auto;
	max-width: 100%;

	.app-header {
		position: sticky;
		top: 0;
		z-index: 10;
		background-color: rgba(var(--vuuui-color-bg--rgb), .8);
		backdrop-filter: blur(8px);
		border-bottom: 1px solid var(--vuuui-color-border);
	}

	.app-title {
		padding-top: 1rem;
		text-align: center;
	}
}

.table-wrapper {
	max-width: 100%;
	overflow: auto;

	table {
		min-width: 100%;

		th, td {
			padding: .4rem 1rem;
			border: 1px solid #00000008;
			border-radius: 4px;
			vertical-align: top;

			img {
				max-height: 64vh;
			}
		}

		th {
			background-color: rgba(var(--vuuui-color-primary--rgb), .04);
		}
	}
}

.textarea {
	position: relative;
	width: 100%;
	border: 1px solid var(--vuuui-color-border);
	border-radius: 16px;
	padding: 1rem;
	font-family: inherit;
	font-size: inherit;
	height: 200px;
}